<style>

    .coupon-wrapper {
      gap: 50px;
      flex: 0 0 auto;
      width: 100%;
      height: auto;
      display: flex !important;
      flex-wrap: wrap;
      align-items: center;
      flex-direction: row;
      justify-content: center;
    }
    .coupon-container {
        gap: 0;
        width: 290px;
        height: 500px;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-size: cover;
        justify-content: center;
        background-image: url("https://cdn.shopify.com/s/files/1/0511/2793/files/coupon_bg.png?v=1688650796");
        background-position: center;
      }
      .coupon-top {
        flex: 0 0 auto;
        width: 100%;
        height: 350px;
        display: flex;
        align-items: center;
        padding-top: 30px;
        padding-left: 33px;
        padding-right: 33px;
        flex-direction: column;
        padding-bottom: 33px;
        justify-content: center;
      }
      .coupon-discount {
        flex: 0 0 auto;
        width: 130px;
        height: 130px;
        display: flex;
        align-items: center;
        border-color: rgba(120, 120, 120, 0.4);
        border-style: dashed;
        border-width: 0px;
        border-radius: 100%;
        flex-direction: column;
        justify-content: center;
        background-color: #ffffff;
        margin-left:auto;
        margin-right:auto;
        line-height:35px;
      }
      .coupon-txt {
        color: #E06166;
        font-size: 35px;
        font-style: normal;
        font-family: Spectral;
        font-weight: 700;
        margin-bottom: -5px;
        text-transform: uppercase;
      }
      .coupon-sale {
        color: rgb(255, 255, 255);
        font-size: 25px;
        font-style: normal;
        margin-top: 25px;
        text-align: center;
        font-family: 'Avenir Next';
        font-weight: 400;
        line-height: 1.3;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        letter-spacing: 0.5px;
      }
      .coupon-exclusions {
        color: #ffffff;
        font-size: 13px;
        font-style: italic;
        margin-top: 12px;
        font-family: 'Avenir Next';
        font-weight: 600;
        letter-spacing: 1px;
      }
      .coupon-bottom {
        gap: 12px;
        flex: 0 0 auto;
        width: 100%;
        height: 150px;
        display: flex;
        padding: 33px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
      .coupon-thrudate {
        color: rgb(255, 255, 255);
        font-size: 15px;
        font-style: normal;
        text-transform:none;
        margin-top: 0px;
        font-family: 'Avenir Next';
        font-weight: 400;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        letter-spacing: 0.5px;
      }
      .coupon-bttn {
        color: #e06166;
        font-size: 16px;
        margin-top: 0px;
        border-width: 0px;
        padding-left: 25px;
        border-radius: 10px;
        padding-right: 25px;
        letter-spacing: 2px;
        text-transform: uppercase;
        background-color: #ffffff;
      }
      .coupon-image {
        flex: 1;
        width: auto;
        border: none;
        height: 500px;
        display: flex;
        align-self: center;
        border-radius: 8px;
        flex-direction: column;
        background-size: cover;
        justify-content: flex-end;
        padding: 30px;
        max-width:600px;
      }
      .coupon-navlink {
        display: contents;
      }
    
    </style>
    
    <section class="section section--flush">
        <div class="section__color-wrapper">
            <div class="container vertical-breather">
                {%- capture section_content -%}
                    <div class="coupon-wrapper">
                        {%- for block in section.blocks -%}
                            {%- case block.type -%}
    
                                {%- when 'text' -%}
                                    
                                        <div class="coupon-container">
                                            {%- capture block_content -%}
                                            <div class="coupon-top">
    
                                                <div class="coupon-discount">
                                                    <span class ="coupon-txt" style="margin-top:5px;">{{block.settings.percent}}%</span>
                                                    <span class ="coupon-txt">OFF</span>
                                                </div>
    
                                                <h2 class="coupon-sale">
                                                    {{block.settings.title}}
                                                </h2>
    
                                                {%- if block.settings.exclusions -%}
                                                    <span class="coupon-exclusions">* {{block.settings.excluded}}</span>
                                                {%- endif -%}
    
                                            </div>
    
                                            <div class="coupon-bottom">
    
                                                <span class="coupon-thrudate">{{block.settings.date}}</span>
                                                <button type="button" class="coupon-bttn button">
                                                SHOP NOW
                                                </button>
    
                                            </div>
                                            {%- endcapture -%}
    
                                            <a id="block-{{ section.id }}-{{ block.id }}" href="{{ block.settings.link_url }}">
                                                {{- block_content -}}
                                            </a>
                                        </div>
                                    
    
                                {%- when 'image' -%}
                                    {%- capture block_content -%}
    
                                        <div class="coupon-image" style="background-image: url('{{block.settings.img.src | img_url: 'large'}}'); background-position:{{block.settings.position}};" >
    
                                            {%- if block.settings.showbutton -%}
                                                <button type="button" class="coupon-bttn button" style="align-self:{{block.settings.buttonpos}};color:{{block.settings.buttontxtcolor}};background-color:{{block.settings.buttonbg}};">
                                                    {{block.settings.buttontext}}
                                                </button>
                                            {%- endif -%}
    
                                        </div>
    
                                    {%- endcapture -%}
    
                                    <a href="{{ block.settings.link_url }}" class="coupon-navlink">
                                        {{- block_content -}}
                                    </a>
                            {%- endcase -%}
                            
    
                        {%- endfor -%}
                    </div>
                {%- endcapture -%}
    
                {{- section_content -}}
                
            </div>
        </div>
    </section>
    
    {% schema %}
      {
        "name": "Coupon Blocks",
        "class": "shopify-section--coupon-containers",
        "max_blocks":6,
        "settings": [],
        "blocks":[
            {
                "type": "text",
                "name": "Coupon",
                "settings":[
                    {
                        "type": "text",
                        "id": "percent",
                        "label": "Discount",
                        "default": "25"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Sale Offer",
                        "default": "Regular* & Reduced Price Items"
                    },
                    {
                        "type": "text",
                        "id": "date",
                        "label": "Through Date",
                        "default": "For a Limited Time"
                    },
                    {
                        "type": "url",
                        "id": "link_url",
                        "label": "Link URL",
                        "default": "/collections/all"
                    },
                    {
                        "type": "checkbox",
                        "id": "exclusions",
                        "label": "Show Exclusions",
                        "default": true
                    },
                    {
                        "type": "text",
                        "id": "excluded",
                        "label": "Exclusion Text",
                        "default": "Exclusions Apply!"
                    }
                ]
            },
            {
                "type": "image",
                "name": "Image",
                "settings":[
                    {
                        "type": "image_picker",
                        "id": "img",
                        "label": "Image",
                        "info": "1000 x 1000px .jpg recommended"
                    },
                    {
                        "type": "select",
                        "id": "position",
                        "label": "Image Position",
                        "options": [
                            {
                                "value": "top left",
                                "label": "Top Left"
                            },
                            {
                                "value": "top center",
                                "label": "Top Center"
                            },
                            {
                                "value": "top right",
                                "label": "Top Right"
                            },
                            {
                                "value": "center left",
                                "label": "Center Left"
                            },
                            {
                                "value": "center",
                                "label": "Center"
                            },
                            {
                                "value": "center right",
                                "label": "Center Right"
                            },
                            {
                                "value": "bottom left",
                                "label": "Bottom Left"
                            },
                            {
                                "value": "bottom center",
                                "label": "Bottom Center"
                            },
                            {
                                "value": "bottom right",
                                "label": "Bottom Right"
                            }
                        ]
                    },
                    {
                        "type": "url",
                        "id": "link_url",
                        "label": "Link URL",
                        "default": "/collections/all"
                    },
                    {
                        "type": "checkbox",
                        "id": "showbutton",
                        "label": "Show Button",
                        "default": true
                    },
                    {
                        "type": "text",
                        "id": "buttontext",
                        "label": "Button Text",
                        "default": "SHOP NOW"
                    },
                    {
                        "type": "select",
                        "id": "buttonpos",
                        "label": "Button Position",
                        "options": [
                            {
                                "value": "flex-start",
                                "label": "Left"
                            },
                            {
                                "value": "center",
                                "label": "Center"
                            },
                            {
                                "value": "flex-end",
                                "label": "Right"
                            }
                        ]
                    },
                    {
                        "type": "color",
                        "id": "buttonbg",
                        "label": "Button Background",
                        "default": "#fff"
                    },
                    {
                        "type": "color",
                        "id": "buttontxtcolor",
                        "label": "Button Text",
                        "default": "#E06166"
                    }
                ]
            }
    
        ],
        "presets":[
            {
                "name": "Coupon blocks",
                "settings":{},
                "blocks":[
                    {
                        "type": "text"
                    },
                    {
                        "type": "text"
                    }
                ]
            }
        ]
      }
    {% endschema %}
    